*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--color-primary: #ff6900;
	--color-secondary: #1a1a1a;
	--color-accessory: #ff0000;
	--color-accessory2 : #008000;
}

body{
    font-family: 'Montserrat', sans-serif;
}
/* UTILITY */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.debug{
    border: 1px solid black;
}

.wrapper{
    display: flex;
    flex-flow: row wrap;
}

.icon{
    gap: 10px;
    display: flex;
}


/* UTILITY */



/* HEADER */
header{
    background-color: var(--color-primary);
    color: white;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

nav{
    padding: 20px;
}

a{
    color: white;
}

.flexer{
    display: flex;
}

nav.flexer{
    justify-content: space-between;
    align-items: center;
}

#logo{
    width: 10%;
    justify-content: center;
}
/* HEADER */

/* MAIN */
 main{
    margin-top: 100px;
 }

 main img{
    width: 100%;
    display: block;

 }
 .cards{
    width: calc(100% / 3 );
    padding: 10px;
    position: relative;
 }

 .red-text{
    color: var(--color-accessory);
    font-weight: 700;
 }

 .censured-text{
    font-weight: 500;
    text-decoration: line-through;
 }

.discount{
    position: absolute;
    font-size: 0.6rem;
    padding: 3px 10px;
    color: white;
    background-color: var(--color-accessory);
    top:86%;
}

.attribute{
    position: absolute;
    font-size: 0.6rem;
    padding: 3px 10px;
    color: white;
    background-color: var(--color-accessory2);
    top: 86%;
    left: 13%;
}

.attribute2{
    position: absolute;
    font-size: 0.6rem;
    padding: 3px 10px;
    color: white;
    background-color: var(--color-accessory2);
    top: 86%;
}

.hearts{
    background-color: white;
    position: absolute;
    font-size: 1.5rem;
    top: 7px;
    right: 0px;
    padding: 0px 7px 0px 8px;
}

.red-hearts:hover{
    color: red;
}



.relativer{
    position: relative;
}

.img-hover{
    opacity: 0.0;
    position: absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
}

.img-hover:hover{
    opacity:1;
}
/* MAIN */
